:root {
  // BG
  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;

  //TEXT
  --main-color: white;
  --soft-color: #ddd;
  --dark-color: #2a3447;

  --check: 1px solid hotpink;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  max-width: 128rem;
}

main {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  margin-bottom: 4rem;

}

.logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  span {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.notifications {

  position: relative;

  span {
    position: absolute;
    top: -1rem;
    right: -.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: red;
    border-radius: 100%;
    
  }

}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    max-width: 3rem;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    font-size: 1.2rem;
  }
}

.content-menu-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-right: 1px solid var(--soft-bg);
    padding-block: 1rem;
    padding-inline: 2rem;
  }
  
  .main-content {
    
    padding-block: 1rem;
    padding-inline: 2rem;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  h3 {
    opacity: 0.7;
  }
}

.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.menu-one-item {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;

  padding: 1rem;

  span {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &:hover {
    background-color:  var(--soft-bg);
    
  }

}

footer {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding-block: 3rem;
}


// Tic-Tac-Toe //

.board {
  background-color: var(--soft-color);
  display: grid;
  width: 35rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 10rem);
  // margin-top: 10rem;
  margin-inline: auto;
}

.square {
  font-size: 2rem;
  border: 1px solid var(--main-bg);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}

.o {
  color: crimson;
}

.x {
  color: royalblue;
}